<h1>Welcome to the Members Only</h1>
<h2>Sign in</h2>

<%= form_for(:session, url: signin_path) do |t| %>
	
	<%= t.label :username %>
	<%= t.text_field :username %>

	<%= t.label :password %>
	<%= t.password_field :password %>

	<%= t.submit "Sign in" %>
<% end %>
<p>New user? Sign up <%= link_to "here.", users_new_path %></p>